<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/styles/style.css">
    <title>MyProt</title>
</head>
<script src="scripts/home.js"></script>
    <body>
        <table id="aliment-table">
            <tr>
                <th>Description</th>
                <th>Proteine</th>
                <th>Ajouté par</th>
                <th>Date</th>
            </tr>
            <% foods.forEach(food => { %>
                <tr>
                    <td><%= food.name %></td>
                    <td><%= food.proteine %> g</td>
                    <td><%= food.user %></td>
                    <td>
                        <%= food createAt
                            ? new Date(food.createAt).toLocaleDateString("fr-FR")
                            : "" %>
                    </td>
                </tr>
            <% }) %>
        </table>
    </body>

</html>