<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/styles/game.css">
        <title>Higher or Lower?</title>
        <style>
            h1 {
                text-align: center;
            }
            .container {
            display: flex;
            gap: 100px;
            justify-content: center;
            margin-top: 50px;
            }
            .box1 {
                width: 500px;
                height: 700px;
                padding: 10px;
                border: 5px solid black;
                background-color: beige;
            }
            .box2 {
                width: 500px;
                height: 700px;
                padding: 10px;
                border: 5px solid black;
                background-color: beige;

            }
        </style>
    </head>
    <body>
        <h1>Higher or Lower?</h1>
        <div class ="container">
        <div class="box1">
            <p>Aliment 1</p>
        </div>
        <div class="box2">
            <p>Aliment 2</p>
        </div>
        </div>
    </body>
</html>