<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/game.css">
        <link rel="stylesheet" href="/css/style.css">
        <title>Higher or Lower?</title>
    </head>
    <body>
        <header>
            <a href="/">Accueil</a>
            <a href="/ajout">Ajout</a>
            <a href="/game">Jouer</a>
            <a href="/connexion">Mon Compte</a>
        </header>
        <script src="/scripts/game.js"></script>
        <h1>Higher or Lower?</h1>
        <div class ="container">
            <div class="box1">
                <p>Aliment 1</p>
            </div>
            <button id="higher">Higher</button>
            <button id="lower">Lower</button>
            <div class="box2">
                <p>Aliment 2</p>
            </div>
        </div>
    </body>
</html>