<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
    <title>MyProt</title>
</head>
    <body>
        <header>
            <a href="/home">Accueil</a>
            <a href="/ajout">Ajout</a>
            <a href="/game">Jouer</a>
            <a href="/profile">Mon Compte</a>
        </header>
        <script src="/scripts/home.js"></script>
    </body>
</html>