<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/styles/style.css">
    <title>MyProt</title>
</head>
    <body>
        <div class="dropdown">
            <button class="dropbtn" onclick="toggleMenu()">Menu</button>
            <div class="dropdown-content" id="myDropdown">
                <a href="/home">Mon Compte</a>
                <a href="/login">Se Connecter</a>
                <a href="/game">Jouer</a>
            </div>
        </div>
        <script src="/scripts/home.js"></script>
    </body>
</html>