h1 {
    text-align: center;
    }
.container {
    display: flex;
    gap: 100px;
    justify-content: center;
    margin-top: 200px;
    }
.box1 {
    width: 500px;
    height: 700px;
    padding: 10px;
    border: 5px solid black;
    background-color: beige;
    }
.box2 {
    width: 500px;
    height: 700px;
    padding: 10px;
    border: 5px solid black;
    background-color: beige;
    }