h1 {
    text-align: center;
    }
h3 {
    text-align: center;
    }
.container {
    display: flex;
    gap: 100px;
    justify-content: center;
    margin-top: 50px;
    }
.box1, .box2 {
    width: 500px;
    height: 700px;
    padding: 10px;
    border: 5px solid rgb(77, 75, 59);
    background-color: beige;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
.button-collumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.button-collumn button {
    width: 150px;
    height: 300px;
    font-size: 24px;
    border: 5px solid rgb(2, 80, 114);
    background-color: #38bdf8;
}