body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    
}

header h1 {
    color: white;
    margin-left: 15px;
    font-family: "BBH Hegarty";
    font-weight: lighter;
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-right: 15px;
    font-family: "Open Sans";
    font-weight: bold;
    
}

nav a {
    color: white;
    text-decoration: none;
}

.informations {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 40px auto;
}

.circles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

#calories-circle::part(value) {
	stroke-width: 6px;
	stroke: hsl(32, 90%, 50%);
	stroke-linecap: round;
}
#calories-circle::part(circle) {
	stroke-width: 2px;
}

#glucides-circle::part(value) {
	stroke-width: 6px;
	stroke: hsl(69, 90%, 50%);
	stroke-linecap: round;
}
#glucides-circle::part(circle) {
	stroke-width: 2px;
}

#lipides-circle::part(value) {
	stroke-width: 6px;
	stroke: hsl(133, 73%, 40%);
	stroke-linecap: round;
}
#lipides-circle::part(circle) {
	stroke-width: 2px;
}

#proteines-circle::part(value) {
	stroke-width: 6px;
	stroke: hsl(177, 73%, 41%);
	stroke-linecap: round;
}
#proteines-circle::part(circle) {
	stroke-width: 2px;
}

table {
    display: flex;
    justify-content: center;
}