* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, sans-serif;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f6f8;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  background-color: #1e293b;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

header a {
  color: #e5e7eb;
  text-decoration: none;
  margin-right: 25px;
  font-size: 16px;
  position: relative;
  transition: color 0.2s ease;
}

header a:hover {
  color: #38bdf8;
}

.search-container {
  margin: 10px auto;
  width: 90%;
  max-width: 600px;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.search-container input {
  width: 670px;
  padding: 8px 12px;
  border: 2px solid #cbd5e1;
  border-radius: 8px;
  font-size: 16px;
  transition: border-color 0.2s ease;
}

.login-button {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background-color: #38bdf8;
  color: #0f172a;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

h1 {
    text-align: center;
    color: #1e293b;
    margin-top: 30px;
}

h3 {
  text-align: center;
  margin-top: 50px;
  color: #334155;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #cbd5e1;
    padding: 12px;
    text-align: left;
}

#connexion-main {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.login,
.register {
  width: 300px;
}

.login form,
.register form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

footer {
  margin-top: 100px;
  margin-right: 145px;
  display: flex;
  justify-content: center;
}

.informations {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 40px auto;
}

.circles-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

#calories-circle::part(value) {
	stroke-width: 6px;
	stroke: hsl(32, 90%, 50%);
	stroke-linecap: round;
}
#calories-circle::part(circle) {
	stroke-width: 2px;
}

#glucides-circle::part(value) {
	stroke-width: 6px;
	stroke: hsl(69, 90%, 50%);
	stroke-linecap: round;
}
#glucides-circle::part(circle) {
	stroke-width: 2px;
}

#lipides-circle::part(value) {
	stroke-width: 6px;
	stroke: hsl(133, 73%, 40%);
	stroke-linecap: round;
}
#lipides-circle::part(circle) {
	stroke-width: 2px;
}

#proteines-circle::part(value) {
	stroke-width: 6px;
	stroke: hsl(177, 73%, 41%);
	stroke-linecap: round;
}
#proteines-circle::part(circle) {
	stroke-width: 2px;
}

#plus-tracking {
  padding: 1px 6px;
}
